@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&family=Press+Start+2P&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #000000;
  font-family: "Press Start 2P", system-ui;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #ffffff;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 357px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  gap: 28px;
  background: #ffffff;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 120px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000040;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0 16px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 819px;
  padding: 158px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 96.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  padding-left: 76px;
}

.home-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  padding: 71px 22px 19px 145px;
}
.home__google-button_image {
  width: 208px;
  height: 54px;
  margin-left: 145px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1024px;
    padding: 256px 412px 0px;
    background-image: url("/img/home/Frame\ 97.png");
  }

  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .home-title {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 100px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-left: 0px;
  }

  .home-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 8px 0 44px;
  }
  .home__google-button_image {
    width: 208px;
    height: 54px;
    margin-left: 0px;
  }
}
.about {
  padding: 50px 16px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
}

.about-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 70px 108px 0;
    width: 1440px;
  }
  .about-title {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
  }

  .about-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px 0px 0;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.reviews-list {
  padding-top: 36px;
}
.reviews-item {
  width: 256px;
}

.reviews-text-bold {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -24%;
  text-align: center;
  width: 231px;
}
.reviews-img {
  margin: 12px 0 22px;
}
.reviews-div {
  display: flex;
  align-items: center;
}
.reviews-div-one {
  width: 36px;
  border-radius: 100px;
  height: 37px;
  background: #000000;
}
.reviews-div-two {
  background: #000000;
  height: 2px;
  width: 220px;
}
.reviews-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 239px;
  height: 144px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 120px 0px 0;
  }
  .reviews-list {
    padding-top: 48px;
  }
  .reviews-item {
    width: 256px;
  }

  .reviews-text-bold {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -24%;
    text-align: center;
    width: 231px;
  }
  .reviews-img {
    margin: 12px 0 22px;
  }
  .reviews-div {
    display: flex;
    align-items: center;
  }
  .reviews-div-one {
    width: 36px;
    border-radius: 100px;
    height: 37px;
    background: #000000;
  }
  .reviews-div-two {
    background: #000000;
    height: 2px;
    width: 220px;
  }
  .reviews-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    width: 239px;
    height: 180px;
  }
}

.faq {
  padding: 80px 38px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  background-image: url("/img/Frame\ 17.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 18px;
  padding-right: 24px;
  padding-bottom: 18px;
  padding-left: 24px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 120px 350px 0;
    width: 1440px;
  }
  .faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    background-image: url("/img/Frame\ 17\ \(2\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 740px;
    padding: 24px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
  }

  .faq-answer {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 40px 0px 65px;
}

.gallery__list {
  width: auto;
  padding-top: 24px;
  margin: auto;
}
.gallery__item {
  width: 127px;
  height: 255px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 120px 178px 80px;
  }

  .gallery__item {
    width: 253px;
    height: 506.5348815917969px;

    margin: 0 10px;
  }

  .gallery__list {
    padding: 48px 0 0px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0px;
}

.features-list {
  padding: 24px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
}
.features-img {
  width: 80px;
  height: 80px;
}
.features-text-bold {
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  padding: 4px 0 0;
}
.features-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 168px 108px 0px;
  }
  .features-list {
    padding: 48px 0px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  .features-item {
    width: 380px;
  }
  .features-img {
    width: 80px;
    height: 80px;
  }
  .features-text-bold {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;

    padding: 24px 0 0;
  }
  .features-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}
.footer {
  padding: 40px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(0, 0, 0, 1);
}

.footer-copyright {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    padding: 40px 0;
    margin: auto;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 19px;
  }
  .footer-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
  }
}

.policy-terms-container {
  padding: 124px 16px 50px;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Lato;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 200px 108px 100px;
    width: 1440px;
    margin: auto;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 28px;
  background: rgba(212, 224, 232, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);

  width: 319px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}
#accept-cookies {
  background: rgba(0, 0, 0, 1);

  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }
}
